:root {
    --max-width: 1366px;
    --min-padding: 10px;
    --base-padding: 20px;
    --medium-orange: #ffb430;
    --medium-blue: #3f5873;
    --gap: 40px;
    --min-input-w: 144px;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background: #f2f2f2;
    font-family: sans-serif;
    font-size: 1.125rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: var(--gap);
    justify-items: center;
}

.item-1 {
    justify-self: normal;
}

.flex-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    /* align-items: center; */
}

.flex-child {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    max-width: calc(var(--max-width) / 2);
    margin: var(--gap);
}

/* 
.flex-child-1 {
    width: calc(var(--max-width) - (calc(var(--max-width)/3)));
}

.flex-child-2 {
    width: calc(var(--max-width)/3);
} */

.visibility {
    visibility: hidden;
}

h2 {
    margin: 0;
}

li {
    padding: var(--min-padding) 0 var(--min-padding) 0;
}

li:last-child {
    padding-bottom: 0;
}

fieldset {
    padding: 0 0 20px;
    border: 0;
    margin: 0;
}

button {
    color: white;
    background-color: #ffb124;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:disabled {
    background: gray;
}

.reset-btn {
    margin-left: var(--min-padding);
    background: #bfad71;
}

.button.backBtn {
    padding: 4px 8px 4px 8px;
    font-size: 1.4rem;
    color: white;
    background-color: #ffb124;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 77px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.backBtn-container {
    text-align: center;
    margin-top: var(--min-padding);
}

input {
    font-size: 1rem;
}

input.barcode-input {
    width: var(--min-input-w);
    text-align: center;
}

input.res-detail {
    width: calc(var(--min-input-w) / 2);
    visibility: hidden;
    text-align: center;
}

input#reservation-search {
    height: 1.3rem;
    margin-right: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

/*Checkboxes*/

/* Customize the label (the container) */

.boolInputCntnr {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*can text be selected by user*/
}

/* Hide the browser's default checkbox */
.boolInputCntnr input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -13px;
    left: 3px;
    height: 35px;
    width: 35px;
    border-radius: 2px;
    border: 1px solid #808080;
    background-color: white;
}

.checkmark.selected {
    box-shadow: 0px 0px 2px 2px;
}

/* When the checkbox is checked, add a new background */
.boolInputCntnr input:checked ~ .checkmark {
    background-color: var(--medium-orange);
}

/* When the checkbox is disabled, not checked, add a new background */
.boolInputCntnr input:disabled ~ .checkmark {
    opacity: 0;
}

/* When the checkbox is disabled and checked, add a new background */
.boolInputCntnr input:checked:disabled ~ .checkmark {
    opacity: 1;
}

/* On checkbox hover, add a new background */
.boolInputCntnr input:hover ~ .checkmark {
    background-color: #ffc581;
}

/* Show the checkmark when checked */
.boolInputCntnr input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.boolInputCntnr .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Scrollbar for menu, webkit*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

/*Reveal*/
.reveal {
    position: absolute;
    top: 181px;
    width: 100%;
    height: 400%;
    background: #f2f2f2;
    z-index: 3;
}

.reveal-content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Tooltip*/
.tooltip {
    position: relative;
}

.tooltip-content {
    top: 36px;
    left: -100px;
    position: absolute;
    width: 200px;
    visibility: hidden;
    background: #28425b;
    text-align: left;
    color: white;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
}

.bold {
    font-weight: bold;
}

.emphasize {
    color: var(--medium-orange);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.form-error {
    color: cornsilk;
    font-size: larger;
}

.logo-container {
    background: white;
}

.title {
    margin: 0;
    padding: var(--min-padding) 0 var(--min-padding);
    background: white;
    border-top: 2px solid;
    border-bottom: 2px solid;
    color: #383838;
    text-align: center;
}

.my-reservations {
    width: 450px;
}

.my-reservations_search {
    text-align: center;
    padding: var(--base-padding);
}

.information {
    width: 450px;
}

ul.names {
    padding-left: 18px;
}

.title-container {
    padding: var(--min-padding);
    color: white;
    background: var(--medium-blue);
    text-align: center;
}

.content-container {
    padding: var(--min-padding);
    box-shadow: 0px 1px 3px 0px;
    background: white;
}

.content-container-column {
    margin-top: 20px;
}

.info-links {
    padding: var(--base-padding);
    font-size: 1.3em;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.info-links div:hover {
    color: var(--medium-orange);
}

.info-link {
    display: none;
}

.info-link-show {
    display: block;
}

.step {
    display: inline-block;
    padding: 8px;
    border-radius: 6px;
    background: var(--medium-orange);
    font-size: 1.2em;
    text-align: center;
}

.table-container.content-container {
    padding: 0;
}

.policy {
    width: 450px;
}

.policy-text {
    padding-right: 30px;
}

.policy-confirm {
    width: 450px;
    font-size: 1.4em;
}

.policy-confirm button {
    padding: 4px 8px 4px 8px;
    font-size: 1.4rem;
}
.policy-button-container {
    text-align: center;
}

.technologies {
    width: 450px;
}

.technologies-container {
    padding: var(--base-padding);
}

.id_sample-content {
    width: 450px;
    margin: auto;
    text-align: center;
}

.reserve-form {
    padding: 0 var(--base-padding) var(--base-padding);
}

.my-reservations_form button {
    padding: 4px 8px 4px 8px;
    font-size: 1.2rem;
}

.reserve-form button {
    padding: 4px 8px 4px 8px;
    font-size: 1.4rem;
}

.reserve-field {
    border: none;
    color: white;
    background: none;
    -webkit-box-shadow: 0 2px white;
    -moz-box-shadow: 0 2px white;
    box-shadow: 0 2px white;
}

.reserve-field:hover {
    box-shadow: 0 2px #ffc581;
}

.date-picker {
    width: 100%;
    font-size: 1.5rem;
    box-shadow: 1px 1px 5px 0px;
}

select.date-picker option {
    font-size: 2rem;
}

/* Table styles */

.table-container {
    /* margin: auto; */
    width: 550px;
    height: 800px;
    overflow: auto;
}

.rooms-label-container {
    padding-top: 10px;
    background: #28425b;
}

.room-label {
    margin: auto;
    width: 100px;
    border-radius: 12px 12px 0px 0px;
    background: #ffc581;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
}

.reserve-title {
    padding: 5px;
    background: #ffc581;
    text-align: center;
}

.table-title {
    width: 550px;
    padding: var(--base-padding) 0 var(--base-padding) 0;
    color: white;
    background: #28425b;
}

.table-title p {
    margin: 0 0 20px 0;
}

.reserve-tbl {
    width: 100%;
    border-spacing: 0;
    text-align: center;
}

.room-header {
    background: #ffc581;
}

.room-header.sticky {
    top: 0;
}

.thead th {
    padding: calc(var(--base-padding) / 2);
}

.tbody tr th {
    padding: var(--base-padding);
}

.th {
    -webkit-box-shadow: 5px 2px 5px -3px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 5px 2px 5px -3px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 2px 5px -3px rgba(0, 0, 0, 0.57);
}

.tbody tr:nth-child(odd) {
    background: #f2f2f2;
}

.tbody tr td {
    padding: var(--base-padding);
}

.inactive {
    visibility: hidden;
}

/*Footer*/

.footer {
    padding-bottom: 40px;
}
